<div class="row">
  <h2 class="col-xs-10">Movies</h2>
</div>
<div class="row">
  <div class="col-xs-2">
    <button class="btn btn-success" ng-click="vm.editMovie()" ng-show="!vm.showForm">Add new movie</button>
  </div>
</div>
<div class="row mt-10">
  <!-- TABLE -->
  <div ng-class="{'col-xs-6': vm.showForm, 'col-xs-12': !vm.showForm}">
    <table class="table table-striped table-hover table-responsive" ng-show="vm.showTable">
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Duration</th>
        <th ng-show="!vm.showForm">Delete</th>
      </tr>
      <tr ng-repeat="movie in vm.movies">
        <td><a ng-click="vm.editMovie(movie)">{{movie.name}}</a></td>
        <td>{{movie.year}}</td>
        <td>{{movie.duration}}</td>
        <td ng-show="!vm.showForm"><a ng-click="vm.deleteMovie(movie)"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    </table>
  </div>
  <!-- FORM -->
  <div class="col-xs-6" ng-show="vm.showForm">
    <form>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{vm.formLabel}}</h3>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="vm.editingModel.name">
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" ng-model="vm.editingModel.year">
          </div>
          <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" class="form-control" id="duration" ng-model="vm.editingModel.duration">
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
          <button class="btn btn-success" ng-click="vm.save()">Save</button>
        </div>
      </div>    
    </form>
  </div>
</div>