.mt-10 {
  margin-top: 10px;
}

a {
  cursor: pointer;
}

table {
	background-color: white; 
}

movie-list, tv-show-list {
	border: 1px solid black;
}

movie-list {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2e1ff+0,a9d4f9+100 */
	background: rgb(178,225,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(169,212,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(169,212,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(169,212,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#a9d4f9',GradientType=0 ); /* IE6-9 */
}

tv-show-list {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2ffc6+0,c9ffad+100 */
	background: rgb(178,255,198); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(178,255,198,1) 0%, rgba(201,255,173,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(178,255,198,1) 0%,rgba(201,255,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(178,255,198,1) 0%,rgba(201,255,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ffc6', endColorstr='#c9ffad',GradientType=0 ); /* IE6-9 */
}